.page-id-3 {
    .storefront-breadcrumb {
        display: none;
    }
    header {
        position: fixed;
        width: 100%;
    }
    footer{
        width: 100%;
        position: fixed;
        bottom: 0px;
        padding-bottom: 25px;
        background-color: white;
    }
}