.page-id-575 {
    .table-offers {
        position: absolute;
        left: -600px;
        opacity: 0;
    }

    .credits {
        margin: 30px 0;

        &__text {
            position: absolute;
            margin-left: 100px;
        }



        &__form {
            max-width: 450px;
            margin: 0 auto;
            min-width: 200px;
            border: solid 2px $input-border;

            &__title {
                text-align: center;
                background-color: $light-green;
                padding: 15px 0;
                h2 {
                    color: $light-yellow;
                }
            }
            &__row {
                margin: 30px;
                font-weight: bold;
                &__label {
                    font-size: calc(16px + 0.5vw);
                }
                &__price {
                    font-size: calc(16px + 0.5vw);
                    float: right;
                    clear: right;
                }
                &__ppc {
                    font-size: calc(4px + 0.5vw);
                    color: $input-color-placeholder;
                    float: right;
                    clear: right;
                }
            }
        }
    }
}
