.single-product {
    .storefront-breadcrumb {
        display: none;
    }

    .site-content {
        margin-top: 25px;
    }

    .summary.entry-summary {

        .variations {
            .label {
                display: none;
            }
            select {
                cursor: pointer;
                color: #045181;         
                text-align: center;         
                border: 1px solid #045181;           
                -webkit-appearance: none;            
                -moz-appearance: none;               
                text-indent: 1px;               
                text-overflow: '';
                padding-right: 56px;
                text-indent: 1px;
                width: 205px;
            }
            .value.select{
                position: relative;
                &::after {
                    content: "";
                    height: 42px;              
                    position: absolute;            
                    width: 40px;
                    top: 0;                   
                    left: 164px;            
                    background-image: url("../images/shop/arrow.jpg");                  
                    pointer-events: none;                    
                    cursor: pointer;
                }
            }

        }
        .woocommerce-variation.single_variation{
            position: relative !important;
        }
        .woocommerce-variation-price {
            position: absolute;
            top: -163px;
            color: $dark-blue;
            font-size: 25px;
            margin-top: 9px;
        }

        .price,
        .download-credits,
        .woocommerce-product-details__short-description,
        .product_meta,
        .woocommerce-variation-description {
            display: none;
        }

        @media screen and (min-width:990px) {
            //  transform: translateX(-110px);
        }

        h1,
        h2 {
            color: $dark-blue;
            margin-bottom: 30px;
        }

        button {
            cursor: pointer;
            background-color: $dark-blue;
            border: 0;
            padding: 10px 20px;
        }
    }

    .related.products {
        background-color: $light-blue;
        padding-top: 20px;

        h2 {
            text-align: center;
            color: $dark-blue;
        }
    }

}