.sku_wrapper,
.widgettitle,
.storefront-product-pagination,
.product-type-credits {
  display: none !important;
}

.shop_attributes {
  td {
    padding-left: 20px;

    p {
      padding-top: 15px;
    }
  }

  th {
    background-color: inherit;
  }
}

.price_label {
  text-align: left;
}


// Product
.woocommerce-product {
  &-galery {
    &__image {
      text-align: center;
    }
  }
}

// Overview
.post-type-archive-product {
  .products {

    &.columns-3 {
      margin-left: 300px;
      padding-left: 0;

      @media (max-width: 1007px) {
        margin-left: 0;
      }
    }

    .product {
      &:hover {
        .attachment-woocommerce_thumbnail {
          bottom: 10px;
          transition: bottom $default-time ease-in;
        }
      }
    }

    .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
      span {
        font-size: calc(6px + 0.6vw);
      }

      &:hover {
        text-decoration: none;

        h2 {
          color: $dark-red;
        }

        .price {
          color: $dark-blue;
        }
      }
    }


    .attachment-woocommerce_thumbnail {
      width: 100%;
      height: auto;
      min-width: 150px;
      max-width: 324px;
      bottom: 0;
      position: relative;
      transition: bottom $default-time ease-in;
    }

    .woocommerce-loop-product__title {
      font-weight: bold !important;
      font-size: calc(8px + 0.8vw) !important;
    }


  }

}

// All products
.products {
  position: relative;

  .button.product_type_variable.add_to_cart_button {
    display: none;
  }
}

.product {
  width: 100%;

  * {
    outline: 0;
  }
}

// Related product
.related.products {
  &>h2:first-child {
    text-align: left !important;
    padding-left: 30px;
    font-size: 40px;
  }

  .price {
    color: white !important;
  }

  img {
    position: relative;
    transition: all $default-time ease-in;
    bottom: 0;
    width: 20vw;
    height: auto;
    max-width: 300px;
    min-width: 150px;
  }

  a:hover {
    text-decoration: none;
    color: white;

    >img {
      position: relative;
      bottom: 10px;
      transition: all $default-time ease-in;
    }
  }

  .storefront-product-pagination {
    .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail.wp-post-image {
      height: 100%;
    }
  }
}