@font-face {
    font-family: headerFont;
    src: url($font-location + 'Avenida_Regular.otf');
}

.footer-logo {
    a {
        color: $light-blue;
        font-family: headerFont;
        font-size: calc(12px + 1.1vw);
        text-decoration: none;
      }
    
      a:hover {
        color: $light-blue;
      }
}

.TAL-footer {
    background-color: white;
    border-top: 0.5px solid rgba(1, 1, 1, 0.1);
    padding-top: 15px;
    padding-bottom: 30px;

    .col-md-6 {
        margin: 0 auto;
    }

    &__sitemap, &__legal, &__contact {
        padding-top: 20px;
        padding-left: 0;
        ul {
            list-style-type: none;
            padding: 0;
        }
    }

    &__cta {
        padding-top: 20px;
        
        h4{
            text-align: right;
            font-size: 20px;
        }

        p {
            font-weight: bold;
            margin: 0;
        }
        
        .mailchimp {
            form div{
                display: inline-block;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            li {
                display: inline;
                padding: 0 5px;
                img {
                    width: 30px;
                }
            }
        }

        &__subscribe {
            background-color: $light-green;
            border-color: $light-green;
            &:hover {
                background-color: darken($light-green, 10%);
                border-color: darken($light-green, 10%);
            }
        }
    }

    &__social {
        z-index: 9999;
        cursor: pointer;
        > div {
            display: inline;
        }
        i {
            width: 45px;
            height: 45px;
            margin-bottom: 12px;
            background: white;
            text-align: center;
            padding-top: 13px;
            border: 1px solid;
            border-radius: 50%;
            transition: color 0.5s ease;
            color: rgba(0, 0, 0, 0.5);
            &:hover{
                color: rgba(0, 0, 0, 1);
                transition: color 0.5s ease;
            }
        }

        &__facebook{
            i{
                &:hover{
                    color: #3b5998;
                }
            }
        }
        &__youtube{
            i{
                &:hover{
                    color: #ff0000;
                }
            }
        }
        &__pinterest{
            i{
                &:hover{
                    color: #c8232c;
                }
            }
        }
        &__linkedin{
            i{
                &:hover{
                    color: #0077B5;
                }
            }
        }
        &__behance{
            i{
                &:hover{
                    color: #053eff;
                }
            }
        }
        &__instagram{
            i{
                &:hover{
                    color:#d6249f;
                }
            }
        }
    }
}