@font-face {
    font-family: headerFont;
    src: url($font-location + 'Avenida_Regular.otf');
}

.footer-logo {
    a {
        color: $light-blue;
        font-family: headerFont;
        font-size: calc(12px + 1.1vw);
        text-decoration: none;
      }
    
      a:hover {
        color: $light-blue;
      }
}

.TAL-footer {
    background-color: white;
    border-top: 0.5px solid rgba(1, 1, 1, 0.1);
    padding-top: 15px;
    padding-bottom: 30px;

    &__sitemap, &__legal, &__contact {
        padding-top: 20px;
        ul {
            list-style-type: none;
            padding: 0;
        }
    }

    &__cta {
        padding-top: 20px;
        h4{
            text-align: right;
            font-size: 20px;
        }
        
        .mailchimp {
            form div{
                display: inline-block;
    
            }
        }

        p {
            font-weight: bold;
        }

        ul {
            list-style-type: none;
            img {
                width: 10%;
            }
        }
    }
}