.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}
.storefront-breadcrumb{
    padding-bottom: 0 !important;
    margin-bottom: 2rem !important;
    .woocommerce-breadcrumb{
        margin-left: 50px;
    }
}
.woocommerce-products-header{
    display: none;
}
.storefront-sorting{
    float: right;
}