@font-face {
    font-family: avenirH;
    src: url($font-location + 'AEH.ttf');
}

@font-face {
    font-family: avenirDM;
    src: url($font-location + 'ADB.ttf');
}

body {
    font-family: avenirDM;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 412px;
}

h1,
h2,
h3,
a {
    font-family: avenirH;
}


table th {
    background-color: $dark-blue !important;
    color: white;
}

.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

.storefront-breadcrumb {
    padding-bottom: 0 !important;
    margin-bottom: 2rem !important;

    .woocommerce-breadcrumb {
        margin-left: 50px;
    }
}

.woocommerce-products-header {
    display: none;
}

.storefront-sorting {
    float: right;
}

.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address,
.woocommerce-mini-cart.cart_list.product_list_widget,
.woocommerce-mini-cart__total.total,
.cookie-notice-revoke-container {
    display: none !important;
}

.woocommerce-form-row {
    padding-bottom: 20px;
}

.woocommerce-tabs {
    padding: 0 !important;
    .wc-tabs,
    .woocommerce-Tabs-panel,
    h2,table {
        display: none;
    }
}

.fake-button{
    position: relative;
    border: none !important;
    background-color: inherit !important;
    text-align: left !important;
    padding: 0 !important;
    width: 100%;
    outline-color: white !important;
    padding-left: 40px !important;
    left: -40px;
    h2 {
        font-size: 25px;
        margin-bottom: 10px !important;
    }
}

.arrow {
    position: absolute;
    top: 7px;
    left: 0px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    width: 20px;
    
}

.rotate {
    transform: rotate(-90deg);
}



.disableSelection {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: 0;
}
.woocommerce-product-gallery__image {
    .wp-post-image {
        max-width: 600px;
        width: 100%;
        height: auto;
    }
}

input[type="radio"] {
    margin-right: 10px;
}

.show {
    display: block !important;
}
.z-index{
    z-index: 999 !important;
}